# List - Question 1

In [1]:
lists = ['mango', 786 , 2.23, ['john', 70.2]]

# 5 functions related to list.

In [2]:
lists.append('true') #Adds an element at the end of the list
print(lists)

['mango', 786, 2.23, ['john', 70.2], 'true']

In [3]:
lists.index(['john',70.2]) #Returns the index of the first element with the specified value

3

In [4]:
lists.reverse() #Reverses the order of the list
lists

['true', ['john', 70.2], 2.23, 786, 'mango']

In [5]:
lists.pop(2) #Removes the element at the specified position
#lists-->['mango',786,['john',70.2],true]

2.23

In [6]:
print(lists[-3:-1]) # Negative Indexes

[['john', 70.2], 786]

# Dictionaries - Question 2

In [7]:
marks = {1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3} #CGPA's related to key-value pair

# 5 functions related to list.

In [8]:
marks.keys() #Returns a list containing the dictionary's keys

dict_keys([1, 2, 4, 7, 8])

In [9]:
marks.values() #Returns a list of all the values in the dictionary

dict_values([8.9, 5.6, 6.7, 9.1, 5.3])

In [10]:
marks.get(7) #Returns the value of the specified key

9.1

In [11]:
marks.popitem() #Removes the last inserted key-value pair

(8, 5.3)

In [12]:
marks.setdefault(3,6.9) #Returns the value of the specified key.If the key does not exist: insert the key, with the specified value
marks

{1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 3: 6.9}

# Sets - Question 3

# 5 functions related of sets

In [13]:
fruits = {"apple", "banana", "cherry"}

In [14]:
fruits.update(["orange", "mango", "grapes"]) #Update the set with the union of this set and others
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [15]:
fruits.add("kiwi") #Adds an element to the set
fruits

{'apple', 'banana', 'cherry', 'grapes', 'kiwi', 'mango', 'orange'}

In [16]:
set1 = {"a", "b" , "c",1,2,6}
set2 = {1, 2, 3}

In [17]:
set1.difference(set2) #Returns a set containing the difference between two or more sets

{6, 'a', 'b', 'c'}

In [18]:
set1.issuperset(set2) #Returns whether this set contains another set or not.

False

In [19]:
set1.union(set2) #Return a set containing the union of sets.

{1, 2, 3, 6, 'a', 'b', 'c'}

# Tuple - Question 4

In [20]:
tup = ("Ramesh", 'Sharma', 3.14, 3)

# 5 functions related to tuple.

In [21]:
tup.count('Ramesh') #Returns the number of times a specified value occurs in a tuple

1

In [22]:
tup.index(3.14) #Searches the tuple for a specified value and returns the position of where it was found

2

In [23]:
print(len(tup)) #length of tuple

4

In [24]:
print(3 in tup) # in operator

True

In [25]:
print(tup[1:]) #slicing

('Sharma', 3.14, 3)

# String - Question 5

In [26]:
a="Hello To The Future World"

# 5 functions related to string.

In [27]:
a.lower() #to convert the string in lowercase.

'hello to the future world'

In [28]:
a.upper() #to convert the string in uppercase

'HELLO TO THE FUTURE WORLD'

In [29]:
a.endswith('d') #to check if the last occuring character is same as the arguement or not.

True

In [30]:
a.index('T') #to check the position of a character

6

In [31]:
a.title() #Converts the first character of each word to upper case

'Hello To The Future World'